**/*.Rproj.user
**/*.Rhistory
**/*.RData
**/*.Ruserdata
**/*.httr-oauth
**/*.dat
**/*.png
**/*.html
edx_reduced
result_rating_popular_10
trainmat
trainmat_reduced_reg
MovieLens-Report-Nir-Levy.Rmd
validation
MovieLens-Report-Nir-Levy.html
