.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
ml-10M100K
scheme_10
scheme_20
**/*.dat
edx
movielens
movies
ratings
recommendations_pop_10
trainmat_final_10
trainmat_reduced
recommendations_svdf_10
