.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
ml-10M100K
scheme_10
scheme_20
**/*.dat
edx
movielens
movies
ratings
recommendations_pop_10
trainmat_final_10
trainmat_reduced
recommendations_svdf_10
predictions_pop_10
predmat_pop_10
testmat_first_matrix
predictions_pop_10_1
predictions_pop_10_2
predictions_pop_10_10
predictions_pop_10_3
predictions_pop_10_4
predictions_pop_10_5
predictions_pop_10_6
predictions_pop_10_7
predictions_pop_10_8
predictions_pop_10_9
predmat_pop_10_1
predmat_pop_10_2
predmat_pop_10_3
predmat_pop_10_4
predmat_pop_10_5
predmat_pop_10_6
predmat_pop_10_10
predmat_pop_10_7
predmat_pop_10_8
predmat_pop_10_9
testmat_1_matrix
testmat_10_1_matrix
users
BX-Book-Ratings.csv
BX-Books.csv
BX-Users.csv
books
dataset.zip
dat
test
train
dat_backup
train_age_backup
train_backup
core
result_rating_popular
result_rating_popular_10
result_rating_svd
result_rating_svd_10
rmse_results
scheme
sub
train_final
train_mat
train_reduced
trainmat_final
trainmat_final_reg
trainmat_reduced_reg
result_rating_svdf
result_rating_ibcf
Book-Crossing-Report_files
