**/*.Rproj.user
**/*.Rhistory
**/*.RData
**/*.Ruserdata
**/*.httr-oauth
**/*.dat
**/*.png
**/*.html
edx_reduced
result_rating_popular_10
trainmat
trainmat_reduced_reg
validation
MovieLens-Report-Nir-Levy.html
result_rating_ibcf_10
result_rating_svd_10
result_rating_svdf_10
result_rating_ubcf_10
testmat_10_10_matrix
testmat_10_2_matrix
testmat_10_3_matrix
testmat_10_4_matrix
testmat_10_5_matrix
testmat_10_6_matrix
testmat_10_7_matrix
testmat_10_8_matrix
testmat_10_9_matrix
testmat_all
diffmat_10_1
diffmat_10_10
diffmat_10_2
diffmat_10_3
diffmat_10_4
diffmat_10_5
diffmat_10_6
diffmat_10_7
diffmat_10_8
diffmat_10_9
diffmat_all
number_of_ratings_in_test_set
predmat_pop_all
rmse
squared_differences_all
